name: demand-sensei

version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: ../
      dockerfile: docker/backend/Dockerfile
    ports:
      - "9001:9001"
    volumes:
      - ../backend/data:/app/data
    env_file:
      - ../backend/.env
    depends_on:
      - minio
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9002"
    ports:
      - "9000:9000"   # S3 API
      - "9002:9002"   # Console Web
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    restart: unless-stopped

volumes:
  minio_data:
