version: "3.9"

services:
  backend:
    container_name: backend
    build:
      context: ../
      dockerfile: docker/backend/Dockerfile
    ports:
      - "9001:9001"
    volumes:
      - ../backend/data:/app/data
    restart: unless-stopped
